*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
  font-size: 1.6rem;
  overflow-x: hidden;
}

img {
  display: block;
  font-style: italic;
}

.cards {
  padding: 6em 1em;
}
.cards__card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(46, 46, 46, 0.1803921569);
}
.cards__card-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.cards__card-body {
  position: relative;
  padding: 3em 1.5em 0;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0 0 10px 10px;
  z-index: 10;
}
.cards__card-title {
  color: hsl(217, 19%, 35%);
  font-size: 1.9rem;
  margin-block-end: 1em;
}
.cards__card-text {
  line-height: 25px;
  color: hsl(214, 17%, 51%);
  font-size: 1.4rem;
}
.cards__card-footer {
  margin-block-start: 1.5em;
  height: 80px;
  display: flex;
  align-items: center;
}
.cards__card-footer-img {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.cards__card-footer-info {
  margin-inline-start: 0.5em;
}
.cards__card-footer-title {
  color: hsl(217, 19%, 35%);
  font-size: 1.4rem;
  margin-block-end: 0.3em;
}
.cards__card-footer-text {
  color: hsl(212, 23%, 69%);
  font-size: 1.3rem;
}
.cards__card-link {
  text-decoration: none;
  position: absolute;
  right: 1.5em;
  bottom: 1.3em;
  display: grid;
  place-items: center;
  width: 35px;
  height: 35px;
  font-size: 1.8rem;
  color: hsl(214, 17%, 51%);
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
}
.cards__card-link:hover, .cards__card-link:focus {
  background-color: hsl(214, 17%, 51%);
  color: hsl(0, 0%, 100%);
}
.cards__card-social-box {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  inset-inline: 0;
  bottom: 0;
  height: 80px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 0 0 10px 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}
.cards__card-social-box.active {
  visibility: visible;
  opacity: 1;
}
.cards__card-social-box span {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(212, 23%, 69%);
  font-weight: 300;
  margin-inline: 1em 0.5em;
}
.cards__card-social-link {
  margin: 0.3em;
  font-size: 2.4rem;
  color: hsl(0, 0%, 100%);
  transition: color 0.3s;
}
.cards__card-social-link:hover {
  color: hsl(212, 23%, 69%);
}

@media (576px <= width) {
  .cards {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards__card-link {
    right: 1.8em;
    bottom: 1.5em;
  }
  .cards__card {
    display: flex;
    max-width: 1000px;
  }
  .cards__card-img {
    width: 45%;
    height: auto;
    border-radius: 10px 0 0 10px;
  }
  .cards__card-body {
    padding: 3em 2em 0;
  }
  .cards__card-title {
    font-size: 2rem;
  }
  .cards__card-text {
    font-size: 1.6rem;
  }
  .cards__card-footer-info {
    margin-inline-start: 1em;
  }
  .cards__card-footer-title {
    font-size: 1.5rem;
  }
  .cards__card-footer-text {
    font-size: 1.4rem;
  }
  .cards__card-social-box {
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
    inset-inline: unset;
    bottom: 6em;
    right: 10px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    transform: rotate(30deg) translate(30px, 50px);
    transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.12, 1.73), opacity 0.1s, visibility 0.1s;
  }
  .cards__card-social-box.active {
    visibility: visible;
    opacity: 1;
    transform: rotate(0) translate(0);
  }
  .cards__card-social-box::after {
    content: "";
    position: absolute;
    bottom: -1em;
    right: 1.5em;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid hsl(217, 19%, 35%);
  }
}
@media (768px <= width) {
  .cards__card-link {
    right: 2.3em;
    bottom: 2.3em;
  }
  .cards__card-img {
    width: 40%;
  }
  .cards__card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 3em 1em;
  }
  .cards__card-title {
    font-size: 2.4rem;
  }
  .cards__card-text {
    font-size: 1.7rem;
    line-height: 30px;
  }
  .cards__card-social-box {
    bottom: 7em;
  }
  .cards__card-social-box::after {
    bottom: -1em;
    right: 2em;
  }
}
@media (1150px <= width) {
  .cards__card-social-box {
    width: 280px;
    right: -80px;
  }
  .cards__card-social-box::after {
    bottom: -1em;
    right: 50%;
    transform: translateX(50%);
  }
}/*# sourceMappingURL=style.css.map */